<div class="form-wrapper">
  <h1>settings</h1>
  <% if @user.errors.any? %>
    <div class="notification">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @user do |f| %>
    <div class="field">
      <% f %>
      <%= f.label :username, class:"label" %>
      <%= f.text_field :username, autofocus: true, autocomplete: "email" , :placeholder => "Username", class: "input" %>
    </div>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <p class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email Address", class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="actions">
      <%= f.submit "Edit", class: "button" %>
    </div>
  <% end %>
</div>
