<script src="/js/jquery.imagesloaded.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/func.js"></script>

<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all" style="font-family: 'Scheherazade New', serif;">Favorite</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming" style="font-family: 'Scheherazade New', serif;">My lyrics</label>
  <div class="tab_content" id="all_content">
    <section class="section">
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item" ,"fitWidth": false}'>
        <% @user.likes.each do |like| %>
          <div class="grid-item">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <div class="subtitle"><b><%=like.post.title%></b></div>
                    <div class ="title"><b><%=like.post.lyrics%></b></div>
                    <div class ="subtitle"><b><%=like.post.artist%></b></div>
                    <%# アイコン　%>
                    <span class="favorite-icon">
                      <%= link_to post_likes_path(id: like.post.id, post_id: like.post.id), method: :delete, data: {confirm: "削除しますか？"} do %>
                        <i class="fas fa-heart"></i>
                      <% end %>
                    </span>
                    <%# ここまで　%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
  <div class="tab_content" id="programming_content">
    <section class="section">
      <div class="flexbox">
        <% @user.posts.each do |post| %>
          <div class="item">
            <div class="card">
              <div class="card-content">
                <span class = "detail-icon">
                  <%= link_to post_path(post) do %><span class="fas fa-book" aria-hidden="true"></span><% end %>
                </span>
                <% if @user.id == current_user.id %>
                  <span class = "edit-icon">
                    <%= link_to edit_post_path(post) do %><span class="fas fa-edit"></span><% end %>
                  </span>
                  <div class="media">
                    <div class="media-content">
                      <div class = "Subtitle"><b><%= post.title%></b></div>
                      <div class ="title"><b><%=post.lyrics%></b></div>
                      <div class ="Subtitle"><b><%=post.artist%></b></div>
                        <span class = "trash-icon">
                          <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか？"} do %><span class="fas fa-trash"></span><% end %>
                        </span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
