<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>
                <% if @user.id == current_user.id %>
                <td class="is-size-4">
                  <%= @user.email %>
                </td>
                <td>
                  <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">Favorite</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">My lylics</label>
  <div class="tab_content" id="all_content">
    <p>Favorite</p>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <% @user.likes.each do |like| %>
            <div class="column is-4">
              <div class="card">
                <%= like.post.title %>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                    <div class="title"><%=link_to like.post.title, post_path(like.post) %></div>
                    <%# アイコン　%>
                    <span class="panel-icon">
                      <span class="fas fa-trash"></span>
                        <%= link_to post_likes_path(id: like.post.id, post_id: like.post.id), method: :delete, data: {confirm: "削除しますか？"} do %>
                          <i class="fas fa-heart"></i>
                        <% end %>
                    </span>
                    <%# ここまで　%>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        </div>
    </section>
  </div>
  <div class="tab_content" id="programming_content">
    <p>My lylics</p>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <% @user.posts.each do |post| %>
            <div class="column is-4">
              <div class="card">
                <%= post.title %>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                    <div class="title"><%=link_to post.title, post_path(post) %></div>
                    <%# アイコン　%>
                    <span class="panel-icon">
                      <span class="fas fa-book" aria-hidden="true"></span>
                      <%= link_to post_path(post) do %><% end %>
                    </span>
                    <% if @user.id == current_user.id %>
                      <span class="panel-icon">
                        <span class="fas fa-edit"></span>
                        <%= link_to edit_post_path(post) do %><% end %>
                      </span>
                      <span class="panel-icon">
                        <span class="fas fa-trash"></span>
                        <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか？"} do %><% end %>
                      </span>
                    <% end %>
                    <%# ここまで　%>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        </div>
    </section>
    <p>My lylics</p>
  </div>
</div>
