<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script><section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>
                <% if @user.id == current_user.id %>
                <td>
                  <%= link_to "編集", edit_user_path(@user), class: "button is-light" %>
                </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all" style="font-family: 'Scheherazade New', serif;">Favorite</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming" style="font-family: 'Scheherazade New', serif;">My lyrics</label>
  <div class="tab_content" id="all_content">
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <% @user.likes.each do |like| %>
            <div class="column is-4">
              <div class="card">
                <%= like.post.title %>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                    <div class="title"><%=link_to like.post.title, post_path(like.post) %></div>
                    <div class ="title"><b><%=like.post.lyrics%></b></div>
                    <%# アイコン　%>
                    <span class="panel-icon">
                        <%= link_to post_likes_path(id: like.post.id, post_id: like.post.id), method: :delete, data: {confirm: "削除しますか？"} do %>
                          <i class="fas fa-heart"></i>
                        <% end %>
                    </span>
                    <%# ここまで　%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </section>
  </div>
  <div class="tab_content" id="programming_content">
    <section class="section">
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item" ,"gutter":20 ,"fitWidth": false}'>
          <% @user.posts.each do |post| %>
              <div class="grid-item">
                <div class="card">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <div class = "Subtitle 4"><b><%= post.title%></b></div>
                        <div class ="title"><b><%=post.lyrics%></b></div>
                        <div class ="Subtitle 4"><b><%=post.artist%></b></div>
                        <%# アイコン　%>
                        <div>
                          <span class="panel-icon">
                            <%= link_to post_path(post) do %><span class="fas fa-book" aria-hidden="true"></span><% end %>
                          </span>
                          <% if @user.id == current_user.id %>
                            <span class="panel-icon">  
                              <%= link_to edit_post_path(post) do %><span class="fas fa-edit"></span><% end %>
                            </span>
                            <span class="panel-icon">
                              <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか？"} do %><span class="fas fa-trash"></span><% end %>
                            </span>
                          <% end %>
                        </div>
                        <%# ここまで　%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </section>
    </div>
</div>
