<div class="form-wrapper">
  <h1>Sign In</h1>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-item">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email Address", class: "input" %>
    </div>
    <div class="form-item">
      <%= f.label :password, class: "label" %>
      <%= f.password_field :password, autocomplete: "current-password", :placeholder => "password", class: "input" %>
    </div>
    </br>
    <div class="form-item">
      <div class="actions">
        <%= f.submit "Sign in", class: "button" %>
      </div>
    </div>
    <div class="form-footer">
    </br></br>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
