<div class="form-wrapper">
  <h1>Sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :username, class:"label" %>
      <%= f.text_field :username, autofocus: true, autocomplete: "email" , :placeholder => "Username", class: "input"%>
    </div>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <p class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email Address", class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <%= f.label :password, class: "label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <p class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Password", class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, class: "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Confirm Password", class: "input" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class: "button" %>
    </div>
  <% end %>
</div>


